@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$primary-color: #008a81;

@import './home.scss';

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

span,
h1,
h2,
h3,
h4,
h5,
button,
a,
p {
  color: $primary-color;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.custom-modal-wrapper {
  min-width: 500px;
  max-height: 400px;
  padding: 20px;
  border-radius: 100%;
  .custom-modal-content{
  }
}
